<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

  
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/annotations"
            class="java.annotations.AnnotationsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/arrays"
            class="java.arrays.ArraysPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/classifiers"
            class="java.classifiers.ClassifiersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/commons"
            class="java.commons.CommonsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/containers"
            class="java.containers.ContainersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/expressions"
            class="java.expressions.ExpressionsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/generics"
            class="java.generics.GenericsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/imports"
            class="java.imports.ImportsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/instantiations"
            class="java.instantiations.InstantiationsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/literals"
            class="java.literals.LiteralsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/members"
            class="java.members.MembersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/modifiers"
            class="java.modifiers.ModifiersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/operators"
            class="java.operators.OperatorsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/parameters"
            class="java.parameters.ParametersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/references"
            class="java.references.ReferencesPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/statements"
            class="java.statements.StatementsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/types"
            class="java.types.TypesPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/variables"
            class="java.variables.VariablesPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/annotations"
            class="annotations.AnnotationsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/arrays"
            class="arrays.ArraysPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/classifiers"
            class="classifiers.ClassifiersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/commons"
            class="commons.CommonsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/containers"
            class="containers.ContainersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/expressions"
            class="expressions.ExpressionsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/generics"
            class="generics.GenericsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/imports"
            class="imports.ImportsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/instantiations"
            class="instantiations.InstantiationsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/literals"
            class="literals.LiteralsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/members"
            class="members.MembersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/modifiers"
            class="modifiers.ModifiersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/operators"
            class="operators.OperatorsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/parameters"
            class="parameters.ParametersPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/references"
            class="references.ReferencesPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/statements"
            class="statements.StatementsPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/types"
            class="types.TypesPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/variables"
            class="variables.VariablesPackage"
            genModel="workspace/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/commons/layout"
            class="layout.LayoutPackage"
            genModel="workspace/java.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated website -->
      <package
            uri="website"
            class="website.WebsitePackage"
            genModel="workspace/website.genmodel"/>
   </extension>

</plugin>
