<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="org.eclipse.emf.ecore.Org.eclipse.emf.ecorePackage"/>
   </extension>

</plugin>
