<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

 <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu
            commandId="com.emf.rest.eclipse.generateEMF"
            icon="icons/logo_emf_rest.png"
            label="EMF-REST">
            <command
               commandId="com.emf.rest.eclipse.generateEMF"
               label="Generate All"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IResource">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.ecore">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="emf-rest.copyLibraries"
                  value="true">
            </parameter>
         </command>
         <visibleWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.ecore">
                     </test>
                  </and>
               </iterate>
            </with>
         </visibleWhen>
      </menu>
    </menuContribution>
  </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="com.emf.rest.eclipse.GenerateRestEMFCommand"
          id="com.emf.rest.eclipse.generateEMF"
          name="com.emf.rest.eclipse.generateEMF">
       <commandParameter
             id="emf-rest.copyLibraries"
             name="copyLibraries"
             optional="true">
       </commandParameter>
       <commandParameter
             id="emf-rest.tagParameter"
             name="tagParameter"
             optional="true">
       </commandParameter>
          
    </command>
 </extension>
 <extension
       point="org.eclipse.emf.codegen.ecore.generatorAdapters">
    <adapterFactory
          class="com.emf.rest.codegen.EMFRestGeneratorAdapterFactory"
          modelPackage="http://www.eclipse.org/emf/2002/GenModel">
    </adapterFactory>
 </extension>  








































</plugin>
